extends layout
block content
  link(rel="stylesheet", href="stylesheets/signin.css")

  div.d-flex.align-items-center.justify-content-center(style="height: 87vh; position: relative;")
    form#form-signin(action="/login" method="POST")

      h1.h3.mb-3.font-weight-normal(style="text-align: center;") Hoarde Sign-In
      
      div.form-username
        label.sr-only(for="inputUsername") Username or E-mail 
        input.form-control#inputEmail(type="text" name="Username" placeholder="E-mail or username" required autofocus)

      div.form-password
        label.sr-only(for="inputPassword") Password
        input.form-control#inputPassword(type="password" name="Password" placeholder="Password" required)

      div.form-options
        a.text-muted#link-to-register(href="/register" style="font-size: 12px") New user? Click here to create an account
        button.btn.btn-lg.btn-primary.btn-block.text-center(type="submit") Login